/* ============================================================================ 
  *Layout: Header
=============================================================================*/

.l-header {
	height: Rem(84);
	background-color: map-get($colors, "main-header-background");
	display: flex;
	flex-wrap: wrap;

	
	@include breakpoint(1344) {
		height: auto;
	}
}


.l-header__container {
	width: 100%;
	margin-top: Rem(10);
	margin-left: Rem(30);

	
}


.l-header__wrapper {
	@include flex(flex, row, space-between, center);

	@include breakpoint(1216) {
		flex-direction: column;
	}
}
