/* ============================================================================ 
  *Main
=============================================================================*/


.l-main {
  margin-left: Rem(26); 
  
  
}



.l-wrapper{
  display: flex;
  justify-content: space-between;
 
}