/* ============================================================================ 
  *Layout: Main
=============================================================================*/

.l-main,
.l-footer {
	margin-left: Rem(26);
}


.l-main {
	flex: 1;
}


.l-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@include breakpoint(1344) {
		flex-direction: column;
	
	}
}


.l-main__content {
	width: 100%;
}
