/* ============================================================================ 
  *Layout: Sidebar
=============================================================================*/

.l-sidebar,
.l-sidebar-right__wrapper {
	@include flex(flex, column, center, center);
}



/* ===== Sidebar-left ====== */



.l-sidebar {
	box-shadow: 0px 0px 10px map-get($colors, "sidebar-shadow-color");
	
	@include breakpoint(1344) {
		@include flex(flex, column, center, center);
		width: 100%;
	}
}


.l-sidebar__wrapper {
	@include breakpoint(1344) {
		width: 100%;
	}
}





/* ===== Sidebar-right====== */
.l-sidebar-right {
	padding-top: Rem(28);
	width: Rem(200);

	@include breakpoint(1344) {
		margin: auto;
	}
}


