/* ============================================================================ 
  *Layout: Sidebar
=============================================================================*/

.l-sidebar,
.l-sidebar-right__wrapper {
	@include flex(flex, column, center, center);
}


.l-sidebar-left {
	flex-basis: 10%;
	height: auto;
}


.l-sidebar {

  height: 100%;
  box-shadow: 0px 0px 10px map-get($colors, "sidebar-shadow-color");
}

   .l-sidebar-right {
    padding-top: Rem(25);

}  

 .l-sidebar-right__wrapper {
  padding-right: Rem(2);
}
  