/* ============================================================================ 
  *Colors
=============================================================================*/

$colors: (
	"color-page": rgb(255, 255, 255),
  "main-header-background": rgb(253, 241, 235),
  "menu-text-color":  rgb(113, 91, 91),
  "header-title-color": rgb(114, 92, 92),
  "box-header-color":  rgb(253, 242, 237),
  "card-text-color": rgb(77, 77, 77),
  "border-color":  rgb(237, 237, 237),
  "menu-border-color":  rgb(232, 232, 232),
	"box-shadow-color": rgba(0, 0, 0, 0.12),
	"sidebar-shadow-color": rgba(0, 0, 0, 0.25),
  "first-gradient-color": rgb(255, 177, 82),
  "second-gradient-color": rgb(238, 121, 58),
  "contact-text-color":  rgb(51, 51, 51),
  "select-border-color": rgb(204, 204, 204),
  "notification-color": rgb(248, 89, 89),
  "main-page-color":rgb(237, 120, 57),
  "right-sidebar-title-color":  rgb(78, 78, 78),
  "box-text-color":rgb(92, 92, 92),
  "reference-color":rgb(173, 160, 160),
  "topic-text-color":  rgba(89, 89, 89, 1),
  "textarea-footer-color":  rgb(234, 241, 242),
  "shape-color":  rgb(71, 71, 71),
  "card-border":  rgb(231, 231, 231),
  
  "small-text-card":  rgba(117, 117, 117, 1),
);
 





/* ============================================================================ 
  *Typography
=============================================================================*/

$global-font-family: 'Roboto', sans-serif;
$second-font-family: 'Quicksand', sans-serif;


$font-weight:(
"roboto-regular": 400,
"roboto-medium": 500,
"roboto-bold": 700,
"roboto-black": 900,
"quicksand-regular": 400,
"quicksand-medium": 500,
"quicksand-bold": 700,
);






/* ============================================================================ 
  *Measures
=============================================================================*/

$global-font-size: 93.75%; //15px
$global-letter-spacing: 0.02em;
$second-letter-spacing: 0.05em;
$global-border-radius: Rem(4);





/* ============================================================================ 
  *Mixins
=============================================================================*/

@mixin flex($display,$direction,$justify-content,$align-items) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  }


  @mixin text-properties($line-height,$font-size) {
    line-height: $line-height;
    font-size: $font-size;
  }


  @mixin text-shaping($text-align, $letter-spacing) {
    text-align: $text-align;
    letter-spacing: $letter-spacing
  }