/* ============================================================================ 
  *Components: Box
=============================================================================*/


/* === Box about details=== */
.c-box {
	width: Rem(250);
	height: Rem(476);
	
}


.c-box__header {
	width: Rem(248);

	@include breakpoint(1344) {
		width: 100%;
	}
}


.c-box__wrapper {
	overflow-y: scroll;
	margin-left: Rem(12);
	margin-top: Rem(12);
}


.c-box__text {
	@include text-properties(Rem(14.4), Rem(14));
	margin-bottom: Rem(8);
}


.c-box__second-title {
	@include text-properties(Rem(17), Rem(16));
	margin-top: Rem(20);
	margin-bottom: Rem(10);
}


.c-box-author {
	@include text-properties(Rem(17), Rem(15.5));

	&:last-of-type {
		margin-bottom: Rem(30);
	}
}


.c-box-reference__text {
	@include text-properties(Rem(14), Rem(13));
	@include text-shaping(left, $global-letter-spacing);
	color: map-get($colors, "reference-color");
}




/* === Summary and discussions box  === */
.c-main-box {
	width: 98%;
	height: auto;
	margin-top: Rem(30);
	display: flex;
	flex-wrap: wrap;
	
}


.c-main-box__header {
	width: 100%;
}


.c-main-box__wrapper {
	padding: Rem(16) Rem(16) Rem(4);
}


.c-main-box__text {
	@include text-properties(Rem(22.75), Rem(14));
	padding-bottom: Rem(10);
}



.c-read-more {
	@include text-properties(Rem(21), Rem(14));
	@include text-shaping(left, $global-letter-spacing);
	color: map-get($colors, "main-page-color");
	cursor: pointer;
}



.c-discussion-box {
	@include flex(flex, column, center, center);
	border-bottom: 1px solid map-get($colors, "border-color");
	width: 100%;
	padding-top: Rem(16);
	position: relative;
}


.c-discussion-box__title {
	@include text-properties(Rem(21), Rem(18));
	color: map-get($colors, "main-page-color");
	font-weight: map-get($font-weight, "roboto-bold");
	text-align: center;
}


.c-discussion-box__icons {
	display: flex;
	flex-direction: row;
	padding-top: Rem(38);
}


.c-discussion-box__item {
	padding-left: Rem(60);
}


.c-discussion-box__paragraph {
	@include text-properties(Rem(19), Rem(14));
	color: map-get($colors, "topic-text-color");
	text-align: center;
	max-width: 620px;
	padding-top: Rem(45);
	padding-bottom: Rem(45);
}


.c-discussion-box__button {
	@include text-properties(Rem(16), Rem(15));
	position: absolute;
	top: 240px;
	width: Rem(133);
	height: Rem(32);
	background-image: linear-gradient(
		180deg,
		map-get($colors, "first-gradient-color") 0%,
		map-get($colors, "second-gradient-color") 100%
	);
	color: map-get($colors, "color-page");
	border: none;
	border-radius: $global-border-radius;
	box-shadow: 0px 2px 2px map-get($colors, "box-shadow-color"),
		0px 2px 2px map-get($colors, "box-shadow-color");
	font-weight: map-get($font-weight, "quicksand-bold");
	padding-bottom: Rem(6);
	cursor: pointer;
}


.c-discussion-box__icon {
	padding-right: Rem(4);
	padding-top: Rem(5);
}


.c-discussion-box__note {
	@include text-properties(Rem(17), Rem(14));
	color: map-get($colors, "box-text-color");
	text-align: center;
	padding-bottom: Rem(50);
}





/* === Shared styles === */
.c-box,
.c-box__header,
.c-main-box {
	border: 1px solid map-get($colors, "border-color");
	border-radius: 3px;
}


.c-box,
.c-main-box {
	background-color: map-get($colors, "color-page");
}


.c-box__header,
.c-main-box__header {
	background-color: map-get($colors, "main-header-background");
	border-radius: 3px 3px 0px 0px;
	height: Rem(45);
}


.c-box__title,
.c-main-box__title {
	@include text-properties(Rem(25), Rem(20));
	color: map-get($colors, "right-sidebar-title-color");
	text-align: left;
	font-weight: map-get($font-weight, "roboto-medium");
	padding-top: Rem(10);
	padding-left: Rem(14);
}


.c-box__text,
.c-box__second-title,
.c-main-box__text {
	@include text-shaping(left, $global-letter-spacing);
	color: map-get($colors, "box-text-color");
}

.c-box__text,
.c-main-box__text,
.c-box-reference__text,
.c-discussion-box__paragraph,
.c-discussion-box__note {
	font-weight: map-get($font-weight, "quicksand-regular");
}


.c-box__span,
.c-box__second-title,
.c-read-more {
	font-weight: map-get($font-weight, "quicksand-bold");
}