/* ============================================================================ 
  *Components: Footer
=============================================================================*/

.c-footer__image {
  width: 100%;
  height: auto;
  margin-top: Rem(18);
}