/* ============================================================================ 
  *Components: Footer
=============================================================================*/

.c-footer__image {
  width: Rem(1230);
  height: auto;
  padding-top: Rem(20);
}