/* ============================================================================ 
  *Components: Header
=============================================================================*/


.c-header__title {
	color: map-get($colors, "header-title-color");
	font-weight: map-get($font-weight, "roboto-regular");
	text-align: left;

	@include breakpoint(1216) {
		max-width: clamp(25ch, 90%, 75ch);
		text-align: center;
		padding-top: Rem(8);
	}

	&:nth-of-type(1) {
		@include text-properties(Rem(16.41), Rem(14));
		padding-bottom: Rem(5);
	}

	&:nth-of-type(2) {
		@include text-properties(Rem(25.78), Rem(22));
	}

	&:nth-of-type(3) {
		@include text-properties(Rem(16.41), Rem(14));
		font-family: $global-font-family;
	}
}


.c-header-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	@include breakpoint(1216) {
		flex-direction: column;
		margin-right: Rem(64);
	}
}


.c-header__language {
	padding-top: Rem(8);
	position: relative;

	@include breakpoint(1216) {
		padding-left: Rem(16);
		margin: 1rem auto;
	}

	&::before {
		content: "";
		background: no-repeat url(/img/icon/icone-linguagem.png);
		position: absolute;
		top: 13.5px;
		left: 4px;
		height: Rem(40);
		width: Rem(20);

		@include breakpoint(1216) {
			top: 14px;
			left: 20px;
		}
	}
}


.c-header__select {
	width: Rem(95);
	height: Rem(34);
	padding-left: Rem(22);
	border: 1px solid map-get($colors, "select-border-color");
	border-radius: $global-border-radius;
	background-color: transparent;
}


.c-header-container {
	display: flex;
	justify-content: space-between;
	padding-top: Rem(10);
	padding-right: Rem(16);

	@include breakpoint(1216) {
		padding-right: Rem(32);
	}
}


.c-header-contact {
	padding-bottom: Rem(20);
	margin-right: Rem(16);
}


.c-header-contact__box {
	margin-right: Rem(16);
	position: relative;
}


.c-header-contact__text {
	text-align: right;
	color: map-get($colors, "contact-text-color");
	padding-left: Rem(60);

	@include breakpoint(1344) {
		padding-left: Rem(85);
	}

	&:nth-of-type(1) {
		@include text-properties(Rem(17), Rem(14));
	}

	&:nth-of-type(2) {
		@include text-properties(Rem(15), Rem(12));
	}
}


.c-header-contact__image {
	border-radius: 50%;
	width: Rem(40);
	height: Rem(35);
	margin-right: Rem(29);
	transform: translateY(-0.2rem);
	cursor: pointer;
}


.c-header-contact__notification {
	position: absolute;
	top: 0;
	left: 26px;
	border: none;
	background-color: map-get($colors, "notification-color");
	color: map-get($colors, "color-page");
	font-weight: map-get($font-weight, "roboto-bold");
	text-align: center;
	font-size: Rem(10);
	width: Rem(20);
	height: Rem(15);
	border-radius: Rem(10);
	padding-top: Rem(2);
	cursor: pointer;

	@include breakpoint(1344) {
		left: 22px;
	}
}
