/* ============================================================================ 
  *Components: Main
=============================================================================*/

.c-main__box {
	padding-top: Rem(15);


	@include breakpoint(1344) {
    @include flex(flex, column, center, center); 
		width: 100%;

	}
}


.c-main__text {
	@include text-properties(Rem(25), Rem(20));
	@include text-shaping(left, $second-letter-spacing);
	color: map-get($colors, "main-page-color");
	font-weight: map-get($font-weight, "roboto-black");
	max-width: 800px;

	

	@include breakpoint(1344) {
		text-align: center;
	
	}

}


.c-main__video {
	padding-top: Rem(20);
	max-width: 100%;

	@include breakpoint(1344) {
	@include flex(flex, column, center, center);
		height: auto;
		width: auto;
	}



	@include breakpoint(850) {
		margin: auto;
		width: Rem(600);
	}
}
