/* ============================================================================ 
  *Components: Menu
=============================================================================*/


.c-menu {
	padding-top: Rem(10);

	@include breakpoint(1344) {
		padding-top: Rem(16);
		padding-bottom: Rem(32);
	}
}


.c-menu__group {
	@include breakpoint(1344) {
		@include flex(flex, row, space-between, center);
	}
}


.c-menu__item {
	@include text-properties(Rem(18.75), Rem(15));
	font-weight: map-get($font-weight, "quicksand-medium");
	padding: Rem(16);
	border-bottom: 2px solid map-get($colors, "menu-border-color");

	@include breakpoint(1344) {
		border: none;
		padding: Rem(14);
	}
}





/* === Menu Hamburger === */

.c-mobile-button {
	display: none;
}


@include breakpoint(700) {
	.c-menu.is-menu--active .c-menu__group {
		display: flex;
		flex-direction: column;
		visibility: visible;
		overflow-y: auto;
	}


	.c-mobile-button {
		display: flex;
		border: none;
		cursor: pointer;
		margin-left: Rem(250);
		padding: Rem(8) Rem(16);
		background-color: transparent;
	}


	.c-mobile-button__hamburger {
		z-index: 9999;
		border-top: 3px solid;
		width: Rem(20);
		color: map-get($colors, "main-page-color");

		&::after,
		&::before {
			content: "";
			display: block;
			position: relative;
			transition: 0.3s;
			margin-top: Rem(4.8);
			background-color: currentColor;
			height: Rem(3);
			width: Rem(20);
		}
	}


	.c-menu.is-menu--active .c-mobile-button__hamburger {
		border-top-color: transparent;

		&::before {
			transform: rotate(135deg);
		}

		&::after {
			top: -7px;
			transform: rotate(-135deg);
		}
	}


	.c-menu__group {
		@include flex(flex, column, center, center);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		visibility: hidden;
		width: 100vw;
		height: 100vh;
		overflow-y: auto;
		background-color: map-get($colors, "color-page");
	}


	.c-menu__item {
		padding: Rem(18);
		font-size: Rem(18);
	}
}
