/* ============================================================================ 
  *Components: Menu
=============================================================================*/


.c-menu {
	padding-top: Rem(10);
}


.c-menu__item {
	@include text-properties(Rem(19),Rem(17));
	font-weight: map-get($font-weight, "quicksand-medium");
	padding: Rem(10);
	border-bottom: 2px solid map-get($colors, "menu-border-color");
}


.c-menu__item--active {
	background-color: map-get($colors, "main-header-background");
	border-left: 5px solid map-get($colors, "second-gradient-color"); 
}


