/* ============================================================================ 
  *Components: Sidebar-left
=============================================================================*/

.c-sidebar__box {
	width: Rem(220);
	height: Rem(77);
	background-image: linear-gradient(
		180deg,
		map-get($colors, "first-gradient-color") 0%,
		map-get($colors, "second-gradient-color") 100%
	);

	@include breakpoint(1344) {
		width: 100%;
	}


	.c-sidebar__title {
		@include text-properties(Rem(35.16), Rem(30));
		padding-bottom: Rem(16);
		font-weight: map-get($font-weight, "roboto-bold");
		color: map-get($colors, "color-page");
		text-align: center;
		text-transform: uppercase;
	}
}


.c-sidebar__wrapper {
	height: 100%;

	@include breakpoint(1344) {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: Rem(32);
	}
}


.c-sidebar__logo {
	width: Rem(210);
	height: Rem(260);

	@include breakpoint(1344) {
		display: none;
	}
}





/* ============================================================================ 
  *Components: Sidebar-right
=============================================================================*/

.c-sidebar-right__buttons {
	display: flex;
	flex-direction: row;
}


.c-sidebar-button {
	background-color: map-get($colors, "main-page-color");
	border: none;
	border-radius: $global-border-radius;
	margin-left: Rem(4);
	transition: all 0.3s ease-in-out;
	


	&:hover {
		background-color: darken(map-get($colors, "main-page-color"), 10%);
	}

	&:nth-of-type(1) {
		width: Rem(120);
		height: Rem(31);
		padding-left: Rem(16);
		padding-right: Rem(16);
	}

	&:nth-of-type(2) {
		width: Rem(43);
		height: Rem(31);
	}

	&:nth-of-type(3) {
		width: Rem(43);
		height: Rem(31);
	}
}



.c-sidebar-button__link {
	@include flex(flex, row, space-around, center);
	@include text-properties(Rem(19), Rem(16));
	color: map-get($colors, "color-page");

	& > .c-sidebar-button__icon {
		margin-right: Rem(10);

		&:nth-of-type(1) {
			margin-bottom: Rem(6);
		}
	}
}


.c-sidebar-button__icon {
	width: Rem(19);
	height: Rem(19);

}


/* .c-sidebar-right__box {
	
} */


.c-sidebar-right__title {
	@include text-properties(Rem(25), Rem(14));
	@include text-shaping(center, $second-letter-spacing);
	color: map-get($colors, "main-page-color");
	text-transform: uppercase;
}


.c-sidebar-button__link,
.c-sidebar-right__title {
	font-weight: map-get($font-weight, "roboto-medium");
}
