/* ============================================================================ 
  *Components: Sidebar-left
=============================================================================*/

.c-sidebar__box {
	width: Rem(230);
	background-image: linear-gradient(
		180deg,
		map-get($colors, "first-gradient-color") 0%,
		map-get($colors, "second-gradient-color") 100%
	);

	.c-sidebar__title {
		@include text-properties(Rem(35),Rem(32));
		padding-top: Rem(6);
		font-weight: map-get($font-weight, "roboto-bold");
		color: map-get($colors, "color-page");
		text-align: center;
		text-transform: uppercase;
	}
}


.c-sidebar__wrapper {
	height: 150vh;
}


.c-sidebar__logo {
	width: Rem(210);
	height: Rem(260);
}





/* ============================================================================ 
  *Components: Sidebar-right
=============================================================================*/


.c-sidebar-right__buttons {
	padding-bottom: Rem(11);
	display: flex;
	flex-direction: row;
	padding-right: Rem(100);
}

.c-sidebar-button {
	background-color: map-get($colors, "main-page-color");
	border: none;
	border-radius: $global-border-radius;
	margin-left: Rem(10);

	&:nth-of-type(1) {
		width: Rem(120);
		height: Rem(31);
		
	}

	&:nth-of-type(2) {
		width: Rem(43);
		height: Rem(31);
		
	}

	&:nth-of-type(3) {
		width: Rem(43);
		height: Rem(31);
		
	}

}

.c-sidebar-button__link  {
	@include flex(flex, row, space-around, center);
	@include text-properties(Rem(19),Rem(16));
	font-weight: map-get($font-weight , "roboto-medium" );
	color: map-get($colors, "color-page");
}


.c-sidebar-button__icon {
	width: Rem(19);
	height: Rem(19);
	margin-top: Rem(3);
}


.c-sidebar-right__box {
	padding-right: Rem(80);
}


.c-sidebar-right__title {
	@include text-properties(Rem(25),Rem(14.8));
	color: map-get($colors, "main-page-color");
	font-weight: map-get($font-weight , "roboto-medium" );
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.05em;
	min-width: 700px;
	
}


