//  https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

//  https://www.nicchan.me/blog/tips-for-focus-styles/#consider-adding-a-little-bit-of-breathing-room

html {
	box-sizing: border-box;
	overflow-x: hidden;
}


*,
*::before,
*::after {
	box-sizing: inherit;
	outline-offset: 0.25rem;
}


* {
	margin: 0;
	padding: 0;
}


body {
	height: 100%;
	background-color: map-get($colors, "color-page");
	font-family: $global-font-family;
	font-size: $global-font-size;

	@include breakpoint(1344) {
		font-size: 87.5%;
	}
}


h3,
h4,
p,
li,
span,
sup,
input,
button,
select,
textarea {
	font-family: $second-font-family;
}


textarea {
	resize: none;
}


li {
	list-style: none;
}


sup {
	@include text-properties(Rem(12),Rem(10));
	color: map-get($colors , "reference-color");
	letter-spacing: $global-letter-spacing;
	font-weight: map-get($font-weight , "quicksand-regular");
}


a {
	color: map-get($colors , "menu-text-color");
	text-decoration: none;
	cursor: pointer;
}


img,
iframe,
video {
	max-width: 100%;
}


input::placeholder,
input::-moz-placeholder,
input::-webkit-input-placeholder,
input::-ms-input-placeholder {
	color: map-get($colors, "card-text-color");
}
